name: Generate Snake
on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * *'
jobs:
  gen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg,
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update snake
          file_pattern: dist/*
